<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Suggest-o-tron", topics_path, id: "TopTitle" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", '#' %></li>
					<li><%= link_to "About", '#' %></li>
					<li><%= link_to "Help", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>